params.download_tools = null
params.config_tools = false
params.config_tools_folder = params.config_tools_folder ?: null //val: path to the config_tools folder (optional); in case the user has it already downloaded (through industrial license) and wants to use it instead of downloading it from the server

//MANIFEST
params.mode_type = 'DDA+'

//DECOY
params.decoy_tag = 'rev_'
params.add_contaminants = true // (posibility) to not add contaominant seq during DECOY process s

//WORKFLOW
params.workflow = 'Basic-Search'
params.'run-ionquant' = false

//FRAGPIPE
params.fragpipe_version = "23.1"
params.ram = 24
params.threads = 16

//params.fragpipe_tools_dir = "${projectDir}/fragpipe_tools"  // Directory to cache downloaded MSFragger/IonQuant/diaTracer tools

//gene_prediction workflow
params.genome_option = 'Tiberius' //default for gene_prediction

//HELIXER:
params.lineage_helixer = 'land_plant'

//TIBERIUS
params.model_cfg = 'angiosperms'

//VARUS
params.taxID = null // is default becaouse GAP-MS can run without BAM 

//GAPMS
params.mapping = null
params.scores = null
params.reference_gtf = null
params.reference_fasta = null
params.iterative = null
params.output = "results" 
params.gtf = true

// Contianer configurations 
singularity {
     enabled = true
     autoMounts = true
}

docker.enabled = false

//Cluster configurations

process {
    executor ='slurm'

    withName:'fragpipe_workflow:AUTHENTICATION' {
        executor = 'local'
        container = null
        debug = true
    }

    withName:'fragpipe_workflow:AUTHENTICATION_DOWNLOAD' {
        executor = 'local'
        container = null
        debug = true
    }
        
    withName:'fragpipe_workflow:MANIFEST'{
        memory = 4.GB
        cpus = 1
    }

    withName:'fragpipe_workflow:DECOY' {
        memory = 4.GB
        cpus = 1
    }

    withName:'fragpipe_workflow:WORKFLOW' {
        memory = 4.GB
        cpus = 1
    }
    
    withName:'fragpipe_workflow:FRAGPIPE' {
        memory = 64.GB
        cpus = 16
    }

    withName:'gene_prediction:TIBERIUS' {
        cpus = 4
        memory = 16.GB
        time = 8.h
        accelerator = 1
    }

    withName:'gene_prediction:HELIXER' {
        cpus = 16
        memory = 64.GB
        time = 8.h
        //queue = 'GPU-A40'
        //runOptions = '--nv' 
        //clusterOptions = '--gres=gpu:1'
    }

    withName:'gene_prediction:GFF_GTF_TO_FAA' {
        cpus = 4
        memory = 16.GB
        wave {
            enabled = false
        }
    }


    withName:'varus_workflow:GET_TAXONOMY' {
        memory = 4.GB
        cpus = 16
    }

    withName:'varus_workflow:VARUS' {
        memory = 16.GB
        cpus = 16
    }

    withName: 'GAPMS' {
        memory = 32.GB
        cpus = 16
    }
}
